body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  background: rgba(235, 235, 235, 0.9);
  text-align: left;
  line-height: 1.5;
}

h3 {
  font-family: $font-family--primary;
  color: $color--primary;
  font-size: 2em;
}

span {
  font-weight: 700;
  text-transform: capitalize;
}

p:first-of-type {
  font-style: italic;
}

ul > li {
  list-style: none;
}
